// Style overrides for learning MFE.

$learning-gray: #777;

body #root {
    // LEARNING HEADER OVERRIDES
    header.learning-header {
        background-color: $brand;

        .text-gray-700 {
            color: $white !important;
        }

        .dropdown-menu {
            border-color: $brand;

            .dropdown-item {
                color: $brand;
            }
        }

        span, a {
            color: $white;
        }

        .menu-content {
            a {
                color: $brand;
            }
        }

        button.dropdown-toggle {
            color: $white;

            &::after{
                color: $white;
            }

            &:hover,
            &:focus,
            &:focus-visible,
            &:focus-within,
            &:active {
                color: $brand !important;
                background-color: $white !important;
                border: $brand !important;
                outline: $brand !important;

                span, a {
                    color: $brand !important;
                }

                &::after{
                    color: $brand;
                }
            }

            &:svg {
                display: block !important;
            }

            border-color: $white;
            outline: $white;
        }
    }

    // LEARNING INSTRUCTOR TOOLBAR
    div[data-testid="instructor-toolbar"]>div {
        background-color: $brand-secondary !important;

        &>div {
            padding-top: 5px !important;
            padding-bottom: 5px !important;
        }
    }

    // LEARNING MAIN CONTENT
    header.learning-header ~ main { // Selector to specifically select the main content of the learning MFE
        min-height: 100vh;

        .btn.btn-brand {
            background-color: $brand;
        }
    }

    // LEARNING FOOTER OVERRIDES
    header.learning-header ~ footer { // Selector to specifically select the footer of the learning MFE
        background-color: $brand !important;
    }
}
