// Gradebook MFE overrides.

body #root {
    font-family: "Open Sans";

    header.site-header-desktop,
    header.site-header-mobile {
        background-color: $brand;
        font-size: 1rem;

        .dropdown-menu {
            border-color: $brand;

            .dropdown-item {
                color: $brand;
            }
        }

        span, a {
            color: $white;
        }

        .menu-content {
            a {
                color: $brand;
            }
        }

        button.menu-trigger {
            color: $white;

            &::after{
                color: $brand;
            }

            &::before {
                content: none;
            }

            &:hover,
            &:focus,
            &:focus-visible,
            &:focus-within,
            &:active {
                color: $brand;
                background-color: $white;
                border: $brand;
                outline: $brand;

                span, a {
                    color: $brand;
                }
            }

            border-color: $white;
            outline: $white;
        }

        a.logo {
            margin: 0.5rem;

            img {
                height: 135%;
            }
        }
    }

    header.site-header-desktop ~ main,
    header.site-header-mobile ~ main { // Selector to specifically select the the standard MFE header
        min-height: 100vh;
    }

    header.site-header-desktop ~ footer,
    header.site-header-mobile ~ footer { // Selector to specifically select the the standard MFE footer
        background-color: $brand !important;

        img {
            max-height: 35px !important;
        }
    }
}
