// Style overrides for learning MFE.

$learning-gray: #777;

body #root {
    font-family: "Open Sans";

    // LEARNING HEADER OVERRIDES
    header.learning-header {
        background-color: $brand-third;
        font-size: 1rem;
        height: 100%;

        .text-gray-700 {
            color: $brand !important;
        }

        .dropdown-menu {
            border-color: $brand;

            .dropdown-item {
                color: $brand;
            }
        }

        span, a {
            color: $brand;

            &.d-block.small {
                display: none !important;
            }
        }

        .menu-content {
            a {
                color: $brand;
            }
        }

        button.dropdown-toggle {
            color: $brand;

            &::after{
                color: $brand;
            }

            &:hover,
            &:focus,
            &:focus-visible,
            &:focus-within,
            &:active {
                color: $brand !important;
                background-color: transparent !important;
                border: $brand !important;
                outline: $brand !important;

                span, a {
                    color: $brand !important;
                }

                &::after{
                    color: $brand;
                }
            }

            &:svg {
                display: block !important;
            }

            border-color: $brand;
            outline: $brand;
        }

        a.logo {
            margin: 1rem 1rem 2rem 1rem;

            img {
                height: 37px;
            }
        }
    }

    #main-content {
        .courseTabsNavigation, nav, a {
            font-size: 0.875rem;
        }

        .h2[role="heading"] {
            font-size: 1.5rem;
        }

        .btn {
            font-size: 1rem;
        }
    }

    // LEARNING INSTRUCTOR TOOLBAR
    div[data-testid="instructor-toolbar"]>div {
        background-color: $brand !important;

        &>div {
            padding-top: 5px !important;
            padding-bottom: 5px !important;
        }
    }

    // LEARNING MAIN CONTENT
    header.learning-header ~ main { // Selector to specifically select the main content of the learning MFE
        min-height: 100vh;

        .btn.btn-brand {
            background-color: $brand;
        }
    }

    // LEARNING FOOTER OVERRIDES
    header.learning-header ~ footer { // Selector to specifically select the footer of the learning MFE
        background-color: $brand-secondary !important;
        flex-direction: column;

        .container-fluid {
            align-items: center;
            justify-content: center;

            ul {
                list-style: none;
                display: inline-flex;
                padding: 0;
                margin-bottom: 3rem;

                li:last-child::before {
                    content: "|";
                    padding: 0 20px;
                    color: $white;
                }

                a {
                    font-size: 0.875rem;
                    color: $white !important;
                }
            }

            &.copyright {
                p {
                    font-size: 0.7rem;
                    color: $white !important;
                }
            }
        }
    }
}
